<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fr.entretien.mybatis.mappers.PersonneMapper">

    <resultMap id="personneResultMap" type="fr.entretien.bureau.veritas.models.Personne">
        <id property="nom" column="nom"/>
        <result property="prenom" column="prenom"/>
        <result property="adresse" column="adresse"/>
    </resultMap>

  <!--  <select id="getPersonneById" resultMap="personneResultMap">
        SELECT * FROM personne WHERE id = #{id}
    </select>

    <select id="getAllPersonnes" resultMap="personneResultMap">
        SELECT * FROM personne
    </select>

    <insert id="insertPersonne">
        INSERT INTO personne (nom, prenom, adresse) VALUES (#{nom}, #{prenom}, #{adresse})
    </insert>

    <update id="updatePersonne">
        UPDATE personne SET nom = #{nom}, prenom = #{prenom}, adresse = #{adresse} WHERE id = #{id}
    </update>

    <delete id="deletePersonne">
        DELETE FROM personne WHERE id = #{id}
    </delete>-->

</mapper>